
{% extends "fullwindowbase.html" %}

{% block head %}

<style>

    .bottom-col, .bottom-button {

        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .bottom-col {

        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .bottom-button {

        border: solid;
        border-width: 1px;
        border-color: black;
        border-top: none;
        background-color: white;
        color: black;
    }

    .bottom-button:hover {

        background-color: gray;
        color: black;
        text-decoration: none;
    }

</style>

{% endblock %}

{% block window_content %}

    <div class="row" style="padding: 0 0 0 0; margin 0 0 0 0; height: 70%;">
        <div class="col-md column-centered">
            <img src="{{url_for('static', filename='home_base_img.png')}}" style="height: 100%; width: 100%;" />
        </div>
    </div>
    <div class="row" style="height: 30%; overflow: hidden">
        {% for button_info in all_buttons_info %}
            <div class="col-md bottom-col">
                <a type="button" class="d-flex bottom-button" href="{{button_info[2]}}" style="height: 100%;">
                    <div class="container" style="height: 100%;">
                        <div class="row justify-content-center align-items-end" style="height: 50%; margin-bottom: 10px;">
                            <img src="{{url_for('static', filename=button_info[0])}}" style="height: 50%;" />
                        </div>
                        {% for line in button_info[1] %}
                            <div class="row justify-content-center align-items-start">
                                <font size=2>{{line}}</font>
                            </div>
                        {% endfor %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
