
{% extends "fullwindowbase.html" %}

{% block head %}

<style>

    .main-button {

        margin-bottom: 20px;
    }

    .above-bottom-col {

        margin-left: 2%;
    }

</style>

{% endblock %}

{% block window_content %}

    <div class="container-fluid" style="margin-top: 7%">
        <div class="row justify-content-center align-items-center" style="margin-bottom: 7%;">
            <div class="col-md column-centered">
                <h1>O que você deseja?</h1>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-md column-centered">
                <a type="button" class="btn btn-primary main-button" href="/ideas">Ideias</a>
            </div>
            <div class="col-md column-centered">
                <a type="button" class="btn btn-primary main-button" href=".">Problemas e soluções</a>
            </div>
            <div class="col-md column-centered">
                <a type="button" class="btn btn-primary main-button" href=".">Mentoria</a>
            </div>
        </div>
        <div class="row justify-content-center align-items-top">
            <div class="col-md above-bottom-col">
                <li>Possibilidade de escolher uma ideia e investir</li>
                <li>Realizar investimentos</li>
                <li>Apresentar ideias</li>
            </div>
            <div class="col-md above-bottom-col">
                <li>Postar dúvidas sobre o empreendimento</li>
                <li>Relatar problemas em busca de uma solução</li>
                <li>Buscar soluções em problemas similares</li>
                <li>Ajudar na solução de problemas</li>
                <li>Esclarecer dúvidas</li>
            </div>
            <div class="col-md above-bottom-col">
                <li>Mentorar</li>
                <li>Receber mentoria</li>
            </div>
        </div>
    </div>

{% endblock %}
