
{% extends "base.html" %}

{% block head %}

<style>

    #new-idea-button {

        padding: auto 3px auto 3px;
        margin: 2% 5% 0 85%;
        width: 10%;
        background-color: #00EE00;
        color: black;
        border-color: green;
    }

</style>

{% endblock %}

{% block content %}

    <a id="new-idea-button" type="button" class="btn btn-primary" href="/ideas/new">Nova Ideia</a>

    <ul class="list-group" style="margin-top: 3%">

        {% for id, user, subject, _ in ideas %}
            <li class="list-group-item d-flex justify-content-between align-items-center" style="padding: 0 0 0 0; margin: 0 5% 0 5%;">
                <font color="#B60" style="margin-left: 2%">{{ subject }}</font>
                <ul class="list-group list-group-horizontal" style="padding: 0 0 0 0; margin: 0 0 0 0; ">
                    <li class="list-group-item" style="padding: 0 0 0 0; margin: 5% 20px 5% 0; border-style: none;">
                        <a href="." style="text-align: middle;"><font size=2>{{ user }}</font></a>
                    </li>
                    <li class="list-group-item" style="padding: 0 0 0 0; margin: 0 0 0 0; border-style: none;">
                        <a type="button" class="btn btn-primary" style="margin: 0 0 0 0;" href="{{ url_for('single_idea_page', idea_id=id) }}">
                            Ver
                        </a>
                    </li>
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
