
{% extends "base.html" %}

{% block content %}

    <div class="container-fluid" style="margin-top: 4%">
        <div class="row justify-content-center align-items-center">
            <div class="col-md column-centered">
                <h1>{{ idea[2] }}</h1>
            </div>
        </div>
        <div class="row justify-content-center align-items-center" style="margin-top: 2%;">
            <div class="col-md" style="margin-left: 20%; margin-right: 20%;">
                {% for para in idea[3].split('\n') %}
                    <p style="white-space: pre-wrap;">{{ para }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-md" style="margin-left: 20%; margin-top: 5%; margin-bottom: 10%;">
                <p><b>Autor: </b><a href="#"><i>{{ idea[1] }}</i></a><p>
            </div>
        </div>
    </div>

{% endblock %}
